@media (max-width:1040px) {
    .navbar {
        padding: 12px 20px;

        &__menu {
            display: none;
            text-align: center;
            width: 100%;

            ul {
                li {
                    display: block;
                    border-bottom: 1px solid $border-menu-color;

                    a {
                        margin: 0;
                        padding: 1rem auto;
                        font-size: 1.5rem;
                    }

                    a:hover {
                        color: $key-color;
                    }
                }
            }
        }
/* ------- Navbar Buttom with a Transform Spin ------- */
        &__btn {
            display: inline-block;
            margin: 2rem 3rem;

            &--toggle {
                position: absolute;
                height: 50px;
                padding: 1rem 2rem;
                transform: translate(-50%, -50%);
                cursor: pointer;
                transition: 0.5s;

                :hover .navbar__btn--bars {
                    box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.5);
                }
            }

            &--bars {
                background: #fff;
                width: 37px;
                height: 5px;
                box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
                border-radius: 2px;
                transition: 0.4s;
                margin-top: 5px;
    
                :not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }

    #check-menu:checked + .navbar__btn--toggle {
        transform: translate(-50%, -50%) rotateY(180deg);
    }

    #check-menu:checked + .navbar__btn--toggle .navbar__btn--bars:nth-child(1) {
        margin-top: 15px;
        transform: rotate(-45deg);
    }

    #check-menu:checked + .navbar__btn--toggle .navbar__btn--bars:nth-child(2) {
        opacity: 0;
    }

   #check-menu:checked + .navbar__btn--toggle .navbar__btn--bars:nth-child(3) {
        margin-top: -15px;
        transform: rotate(45deg);
    }

    #check-menu {
        display: none;
    }
}


/*--------- atajos ----------*/
@media (max-width:1040px) {
    .navbar {
        display: flex;
        flex-direction: row;

        &__menu {
            display: none;
        }

        &__menu-drop {
            display: block;

            #check-menu {
                .menu-icon {
                    &--bars {
                        color: white;
                    }
                }

                .menu-drop-links {
                    ul {
                        li {
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

}


/*-------- Por las dudas -----*/
#check-menu:checked + .menu-icon {
    transform: translate(-50%, -50%) rotateY(180deg);
}

#check-menu:checked + .menu-icon .menu-icon--bars:nth-child(1) {
    margin-top: 15px;
    transform: rotate(-45deg);
}

#check-menu:checked + .menu-icon .menu-icon--bars:nth-child(2) {
    opacity: 0;
}

#check-menu:checked + .menu-icon .menu-icon--bars:nth-child(3) {
    margin-top: -15px;
    transform: rotate(45deg);
}

#check-menu {
    display: none;
}





/*------Otro intento About 11.09 ------*/

.about {
    min-height: 100vh;

    &__tittle {
        align-content: center;
        margin-top: 3.3rem;

        h3 {
            text-align: center;
            font-size: 2.2rem;
            font-weight: 500;
            color: $tittle-color-dark;

            span {
                color: $key-color;
                font-size: 2.3rem;
                font-weight: 900;
            }

            @include mobile {
                font-size: 1.5rem;
            }
        }
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        flex-wrap: wrap;
        padding: 40px 0;
    }

    &__card {
        position: relative;
        width: 320px;
        height: 440px;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                    5px 5px 5px rgba(0, 0, 0, 0.05),
                    -5px -5px 5px rgba(255, 255, 255, 0.5);
        border-radius: 15px;
        margin: 30px;            
    }

    &__container .about__card .about__box {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: $card-bg-color;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    &__container .about__card:hover .about__box {
        transform: translateY(-50px);
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
        background: linear-gradient(45deg,#101010,#ff2b4a);
    }

    &__container .about__card .about__box .about__content {
        padding: 28px;
        text-align: center;

        i {
            position: absolute;
            top: 15px;
            right: 30px;
            font-size: 8em;
            color: rgba(0, 0, 0, 0.02);
            transition: 0.5s;
            pointer-events: none;
        }

        h3 {
            font-size: 1.3em;
            color: $card-text-color;
            z-index: 1;
            transition: 0.5s;
        }

        p {
            font-size: 1em;
            font-weight: 300;
            color: $card-text-color;
            z-index: 1;
            transition: 0.5s;
        }

        a {
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            background: $tittle-color-dark;
            margin-top: 15px;
            border-radius: 20px;
            color: $tittle-color-light;
            text-decoration: none;
            font-weight: 400;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    }

    &__container .about__card:hover .about__box .about__content {
        i {
            color: rgba(0, 0, 0, 0.05);
        }

        a {
            background: $key-color;
        }

        h3 {
            color: $tittle-color-light;
        }

        p {
            color: $card-text-hover;
        }  
    }
}


/*--------- Banner ---------*/
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(
        rgba(16, 16, 16, 1),
        rgba(51, 51, 51, 0.5)
    );

    @include tablet {
        padding: 2rem 3rem;
    }

    @include mobile {
        padding: 1rem 2rem;
    }

    &__bg-video {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        z-index: 888;
        color: $tittle-color-light;
        width: 100%;
        margin-top: 5rem;
        padding: 0 5rem;

        @include tablet {
            padding: 0 2rem;
        }

        @include tablet {
            padding: 0.5rem;
        }

        h1 {
            font-size: 4rem;
            letter-spacing: 0.5rem;
            line-height: 3rem;
            text-transform: uppercase;

            @include tablet {
                font-size: 3rem;
            }

            @include mobile {
                font-size: 2.5rem;
                letter-spacing: 0.3rem;
                line-height: 3.5rem;
            }
        }

        h2 {
            color: $key-color;
            font-size: 3.5rem;
            letter-spacing: 0.5rem;
            line-height: 3rem;
            font-weight: 500;
            font-style: italic;
            text-transform: uppercase;
            margin-top: 2.5rem;
            
            @include tablet {
                font-size: 2.5rem;
            }

            @include mobile {
                font-size: 2.5rem;
                line-height: 3.5rem;
                margin-top: 0.5rem;
            }
        }

        span {
            background: $key-color;
            display: block;
            width: 37em;
            height: 5px;
            border-radius: 3px;
            margin-top: 0.7rem;
            margin-right: 1rem;
            animation: underlining 1.5s;

            @include tablet {
                width: 28rem;
            }

            @include mobile {
                width: 9.5rem;
            }
        }

        p {
            font-size: 1.8rem;
            font-style: italic;
            margin-top: 1rem;
            margin-bottom: 2rem;

            @include tablet {
                font-size: 1.5rem;
            }

            @include mobile {
                font-size: 1.3rem;
                line-height: 2.2rem;
                margin-top: 1rem;
                padding-right: 8rem;
            }
        }

        a {
            background: $key-color;
            color: $tittle-color-light;
            text-decoration: none;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &:hover {
                background: $tittle-color-light;
                color: $key-color;           
            }
        }
    }

    &__media-icons {
        z-index: 888;
        position: absolute;
        right: 3rem;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;

        @include mobile {
            bottom: 5px;
            padding-bottom: 4rem;
        }

        a {
            color: $key-color;
            font-size: 1.5rem;
            transition: 0.3 ease;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
    
            &:hover {
                color: $tittle-color-light;
                transform: scale(1.3);
            }
        }
    }
}


/*------ Slider Buttons ------*/
/* ------------ Client Section ------------ */
.client {
    min-height: 100vh;
    padding: 2em;
    
    &__tittle {
        align-content: center;
        margin-top: 3.3rem;

        h3 {
            text-align: center;
            font-size: 2.2rem;
            font-weight: 500;
            color: $tittle-color-dark;

            span {
                color: $key-color;
                font-size: 2.3rem;
                font-weight: 900;
            }

            @include mobile {
                font-size: 1.5rem;
            }
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 70px;
        margin-top: 3.3rem;

        .client-container {
            position: relative;
            perspective: 1000px;
    
            .container-slide {
                .slide {
                    display: none;
                    border-radius: 5px;
                    background: $card-bg-focus-color;
                    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
                    width: 500px;
                    min-height: 300px;
                    padding: 20px;
                    margin: 10px;
                    position: relative;
                    transform-style: preserve-3d;
    
                    .comillas {
                        position: absolute;
                        top: 10px;
                        right: 15px;
                        font-size: 70px;
                        color: $key-color;
                    }
    
                    .user {
                        display: flex;
                        align-items: center;
    
                        img {
                            height: 100px;
                            width: 100px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-right: 10px;
                        }
    
                        .user-info {
                            h3 {
                                color: $tittle-color-dark;
                                font-size: 20px;
                            }
    
                            .stars {
                                i {
                                    color: $key-color;
                                    font-size: 20px;
                                }
                            }
    
                        }
                        
                    }
    
                    .user-text {
                        margin-top: 1em;

                        p {
                            color: $border-menu-color;
                            font-size: 20px;
                            font-style: italic;                           
                        }
    
                    }

                    @include mobile {
                        width: 300px;
        
                        .comillas {
                            right: 10px;
                            font-size: 35px;
                        }
                    }   
                }
            }

            #next,
            #prev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 50px;
                width: 50px;
                line-height: 50px;
                text-align: center;
                background: $text-color-dark;
                color: $card-bg-color;
                font-size: 20px;
                cursor: pointer;
                border-radius: 50%;
                box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
            }

            #next {
                right: -70px;
            }

            #prev {
                left: -70px;
            }

            #next:hover,
            #prev:hover {
                background: $key-color;
                color: $card-bg-focus-color;
            } 
        }
    }
}